.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Nunito Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bree Serif', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  padding: 0 3%;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  height: 100px;
  padding: 10px;
  background: #6869D1;
}
header img {
  transition: 1s;
}
header img:hover {
  transform: rotateZ(360deg);
}
header h1 {
  width: 40%;
  margin-left: 2%;
  margin-right: 11%;
  display: flex;
  align-items: center;
  font-size: 35px;
  color: white;
  transition: 1s;
}
header h1:hover {
  transform: rotateZ(360deg);
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: white;
  transition: 1s;
}
header nav a:hover {
  color: black;
  transform: scale(1.2);
}
@media (max-width: 500px) {
  .main-navigation {
    width: 100%;
    height: 622px;
    flex-direction: column;
    margin: 0px;
  }
  .main-navigation h1 {
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin-top: 80px;
    order: 0;
  }
  .main-navigation .logo-img {
    order: 1;
    padding: 0 30%;
  }
  .main-navigation .nav-container {
    width: 100%;
    flex-direction: column;
    height: 300px;
    align-items: center;
    order: 2;
  }
  .main-navigation .nav-container nav {
    flex-direction: column;
  }
  .main-navigation .nav-container a {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    justify-content: center;
  }
}
.dropdown {
  display: none;
}
a:last-child {
  font-size: 30px;
}
@media (max-width: 500px) {
  .dropdown {
    display: block;
    z-index: 2;
    position: relative;
    cursor: pointer;
  }
  .dropdown h1 {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }
  .dropdown .dropdown-button {
    text-align: center;
    padding: 15px;
    border: 3px solid white;
    background-color: #6869D1;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .dropdown .dropdown-button:hover {
    background-color: #6869D1;
  }
  .dropdown .dropdown-content {
    width: 100%;
    position: absolute;
    background-color: #6869D1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border: 2.5px solid #6869D1;
  }
  .dropdown .dropdown-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid #6869D1;
    color: white;
  }
  .dropdown .dropdown-link:hover {
    color: #6869D1;
    background-color: white;
  }
  .dropdown .dropdown-hidden {
    display: none;
  }
}
@media (max-width: 500px) {
  .main-navigation {
    display: none;
  }
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (max-width: 500px) {
  .carousel {
    width: 100%;
    height: 256px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
.footer-content {
  width: 100%;
  background: #6869D1;
}
.footer-content nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed black;
}
.footer-content nav a {
  text-decoration: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: white;
  transition: 1s;
}
.footer-content nav a:hover {
  color: black;
  transform: scale(1.2);
}
.footer-content p {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding: 20px;
}
.footer-about {
  margin-top: 30px;
}
.flow-img {
  width: 100%;
  padding: 0 10%;
  margin-bottom: 10%;
}
.flow {
  width: 100%;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reddit-img {
  -webkit-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
  -moz-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
  -ms-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
  animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  left: 0;
}
/* Spinning the sphere using key frames */
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Move sphere from left to right */
@-moz-keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
@-ms-keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
@keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes moveLeftToRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
.about-content h2 {
  font-size: 5rem;
}
@media (max-width: 500px) {
  .about-content h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
}
.login {
  width: 150px;
  height: 40px;
  background: #6869D1;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 5px;
}
.top-content {
  padding: 20px 0;
  margin-top: 5%;
}
.top-content p {
  margin: 0 10%;
}
.contact-content {
  margin: 30px 0;
}
@media (max-width: 500px) {
  .flow-img {
    padding: 0 3%;
  }
}
.data {
  padding-top: 3%;
  margin: 0 10%;
  margin-bottom: 30px;
  background: #7296aa;
  padding-bottom: 20px;
  border-radius: 3%;
}
.data h2 {
  text-align: center;
}
.data .content-section {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .data .content-section {
    flex-direction: column;
  }
}
.data .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.data .content-section .text-content h3 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .data .content-section .text-content {
    width: 100%;
    padding-right: 0%;
  }
}
.data .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .data .content-section .img-content {
    width: 100%;
    padding-left: 0%;
  }
}
.data .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .data .content-section .img-content img {
    width: 100%;
  }
}
.data .inverse-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.data .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .data .inverse-content .text-content {
    order: -1;
  }
}
.data .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
