@font-color: @shark;
@footer-bg: @sandy-beach;
@font-color1:@grey;

@shark: #212529;
@sandy-beach: #6869D1;
@grey:grey;
@lightgray:lightgray;
@white:white;
// @lambda-light-red:red;

@lambda-times-color-primary: #333;
@lambda-times-color-white: #fff;
@lambda-times-color-black: #000;
@lambda-times-color-lightgrey: lightgrey;
@lambda-times-color-background: #f1f1f1;

@mobile: ~"(max-width: 500px)";
